{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST">
    {% csrf_token %}

    <!-- Informacion del Pegue-->
    <div class="col-xl col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Agregar Pegue</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-faucet fa-2x text-gray-300"></i>
                    </div>
                </div><br>
                <div class="informacionCobro mt-2">
                    <form id="envioDatos" action="{% url "create_pegue" %}" method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    </form>
                </div>
                <button class="btn btn-success" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}