{% extends "base.html" %}
{% load static %}
{% block title %}Pagos{% endblock %}
{% block header %}Listado de Pegues{% endblock %}
{% block boton_agregar %}
    <a class="btn btn-primary m-3" href="{% url "create_pegue" %}">Agregar Pegue</a>
{% endblock %}

{% block 1row %}

    <!-- Listado de Pegues -->
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="card  mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listado de Pegues</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>N</th> 
                                        <th>Codigo Pegue</th> 
                                        <th>Propietario</th> 
                                        <th>Barrio</th>  
                                        <th>Tipo</th>  
                                        <th>Estado</th> 
                                        <th>Linea de distribución</th> 
                                        <th>Acciones</th> 

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pegue in pegues %}
                                    <tr>
                                        <td>{{ pegue.id }}</td>
                                        <td>{{ pegue.codigo_pegue }}</td>
                                        <td>{{ pegue.abonado.nombre }}</td>
                                        <td>{{ pegue.barrio.nombre }}</td>
                                        <td>{{ pegue.get_tipo_display }}</td>
                                        <td>{{ pegue.estado }}</td>
                                        <td>{{ pegue.linea_distribucion.codigo }}</td>
                                        <td class= "text-center"><a class="badge rounded-pill bg-warning text-white" type="button">Editar</a> | <a class="badge rounded-pill bg-danger text-white" type="button">Eliminar</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block modales %}

{% endblock modales %}