{% extends "base.html" %}
{% load static %}
{% block title %}Pagos{% endblock %}
{% block header %}Registro de Pagos{% endblock %}

{% block 1row %}

        <!-- Listado de Pagos -->
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Pagos</div>
                    </div>

                    <div class="col-auto">
                        <i class="fas fa-cash-register fa-2x text-gray-300"></i>
                    </div>

                </div>

                <div class="card  mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listado de Pagos</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>N</th> 
                                        <th>Codigo</th> 
                                        <th>Abonado</th> 
                                        <th>Barrio</th> 
                                        <th>Fecha Pago </th> 
                                        <th>Tarifa </th> 
                                        <th>Mes(es) pagado(s) </th> 
                                        <th>Monto</th> 
                                        <th>Acciones</th> 

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in pagos %}
                                    <tr>
                                        <td>{{ p.id }}</td>
                                        <td>{{ p.codigo }}</td>
                                        <td>{{ p.abonado }}</td>
                                        <td>{{ p.barrio }}</td>
                                        <td>{{ p.fecha_pago }}</td>
                                        <td>L {{ p.tarifa_actual }}</td>
                                        <td>{{ p.meses_pagados_str|join:", " }} ({{ p.meses_pagados_str|length }})</td>
                                        <td>L {{ p.monto_total }}</td>
                                        <td class= "text-center"><a class=" badge rounded-pill bg-warning text-white" href="{% url "imprimir_recibo" id=p.id %}" type="button">Imprimir</a> | <a class="badge rounded-pill bg-danger text-white" type="button">Eliminar</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><br>
            </div>
        </div>
    </div>

{% endblock 1row %}