{% extends "base.html" %}
{% block title %}Cobro Abonados{% endblock %}

{% block content %}
    <h1>Listado de Abonados</h1>
    <hr><br>
   
    <table class="table table-hover">   
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">DNI</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            {% for abonado in abonados %}
            <tr>
                <td>{{ abonado.id }}</td>
                <td>{{ abonado.nombre | default:"-"}}</td>
                <td>{{ abonado.dni|slice:":4" }}-{{ abonado.dni|slice:"4:8" }}-{{ abonado.dni|slice:"8:" }}</td>
                <td>{{ abonado.telefono|slice:":4" | default:""}}-{{ abonado.telefono|slice:"4:8" | default:""}}</td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>

    <a class="btn btn-primary" href= {% url "pegues" %}>Ir a pegues</a>

{% endblock %}